<!doctype html>
<html lang="en">
   <head>
      <title> Dashboard </title>
      <% include partials/head %>
   </head>
   <body>
    <% include partials/nav %>
      <div class="container shadow mt-5 ml-auto mr-auto rounded">
         <h2> <strong> Dashboard </strong> </h2>
         <div class="alert alert-success" id="alert" role="alert">
            <% if (user.name) { %>
            <h4 class="alert-heading"> <%= user.name %>'s Dashboard </h4>
            <% } else { %> <!-- Guest view -->
            <h4 class="alert-heading"> <%= user %> Dashboard </h4>
            <% } %>
            <p> Welcome to Inspire, a place where you can find and pin quotes that you like. </p>
            <hr>
            <p class="mb-0"> Found an issue or interested in a new feature? Open Issue or PR on <a target="_blank" href="https://github.com/omaralsayed/inspire"><strong>GitHub</strong></a>. </p>
         </div>
         <form id="contact-form" method="post" action="/dashboard/upload" role="form" encType="multipart/form-data">
            <div class="controls">
               <h5 id="title-gen"><strong> Custom Quote Generator </strong></h5>
               <p class="mb-0">
               <img src="../../img/tensorflow.svg" width="40px" style="align-items: center">
               <strong> Predictions </strong>
                  <p id="tf">
                  <% if (typeof predictions !== 'undefined') { %>
                     <% let tfOutput = '' %>
                     <% for (let n = 0; n < predictions.length; n++) { %>
                        <a data-toggle="tooltip" title="<%= JSON.stringify(predictions[n].probability) %>">
                        <%= JSON.stringify(predictions[n].className) %>
                        </a>
                     <% } %>
                  <% } else { %>
                     Choose file for predictions
                  <% } %>
                  </p>
               </p>
               <p class="mb-0">
               <img src="../../img/json.png" width="40px">
               <strong> Regex Extract </strong>
                  <p class="mb-0" id="regex-quote"> Choose file for quote </p><p class="font-italic" id="regex-author"></p>
               </p>
               <% include partials/messages %>
               <div class="mb-0 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> Upload </span>
                  </div>
                  <div class="custom-file">
                    <input type="file" name="tfInput" class="custom-file-input" id="tfInput">
                    <label class="custom-file-label" for="tfInput"> Choose file </label>
                  </div>
               </div>
               <div><br>
                  <button type="submit" id="process" class="btn"> Send Image </button>
                  <a id="append-custom" class="btn"> Pin </a>
               </div>
            </div>
         </form>
         <h5 id="title-gen"><strong> Random Quote Generator </strong></h5>
         <p class="mb-0" id="quote"></p><p class="font-italic" id="author"></p>
         <button id="next" class="btn"> Next Quote </button>
         <button id="append-random" class="btn"> Pin </button>
      </div>
      <div class="container shadow mt-5 ml-auto mr-auto rounded">
         <h5><strong> Data Table </strong></h5>
         <h5 id="title-pin"></h5>
         <br>
         <table class="table table-striped table-bordered" id="pinned-quotes" class="text-nowrap">
            <thead><tr>
               <th scope="col"> # </th>
               <th scope="col"> Author </th>
               <th scope="col"> Quote </th>
               <th scope="col"> Type </th>
               <th scope="col"> Sentiment Value </th>
            </tr></thead>
            <tbody id="tbody"></tbody>
         </table>
      </div>
      <div class="container shadow mt-5 ml-auto mr-auto rounded">
         <h5><strong> Data Visualization </strong></h5>
         <h5 id="title-vis"></h5>
         <p class="mb-0">
         <canvas id="canvas"></canvas>
         <br>
         <canvas id="canvas-1"></canvas>
      </div>
   </body>
   <% include partials/footer %>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
   <script src="../../src/javascript/custom.js"></script>
   <script src="../../src/javascript/random.js"></script>
   <script src="../../src/javascript/table.js"></script>
   <script src="../../src/javascript/addons.js"></script>
</html>