<!doctype html>
<html lang="en">
   <head>
      <title> Inspire Sign-In </title>
      <% include partials/head %>
   </head>
   <body>
      <% include partials/nav %>
      <form method="post" action="/users/login" autocomplete="off">
         <div class="row mt-5">
            <div class="col-md-4 m-auto">
               <div class="card card-body">
                  <h2> Sign-In </h2>
                  <p> Get access to thousands of quotes. <br> Pin your favorite ones. <i class="fa fa-star"></i> </p>
                  <% include partials/messages %>
                  <div class="controls">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group">
                              <input type="email" id="email" name="email" placeholder="Email" class="form-control">
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group">
                              <input type="password" id="password" name="password" placeholder="Password" class="form-control">
                           </div>
                        </div>
                        <div class="col-md-12">
                           <input type="submit" class="btn btn-send" value="Sign-In">
                           <a class="btn" id="switch" href="/users/register"> Register </a>
                           <br><br>
                           <label><a href="/guest"> Continue as guest </a></label>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </body>
   <% include partials/footer %>
</html>