<!doctype html>
<html lang="en">
   <head>
      <title> Registration </title>
      <% include partials/head %>
   </head>
   <body>
    <% include partials/nav %>
        <div class="row mt-4">
            <div class="col-md-4 m-auto">
                <div class="card card-body">
                    <form action="/users/register" method="post" autocomplete="off">
                        <h2> Create account </h2>
                        <% include partials/messages %>
                        <div class="form-group">
                            <label for="name"> Username </label>
                            <input type="name" id="name" name="name" class="form-control" value="<%= typeof name != 'undefined' ? name : '' %>"/>
                        </div>
                        <div class="form-group">
                            <label for="email"> Email </label>
                            <input type="email" id="email" name="email" class="form-control" value="<%= typeof email != 'undefined' ? email : '' %>"/>
                        </div>
                        <div class="form-group">
                            <label for="password"> Password </label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="At least 6 characters" value="<%= typeof password != 'undefined' ? password : '' %>"/>
                        </div>
                        <div class="form-group">
                            <label for="password2"> Confirm Password </label>
                            <input type="password" id="password2" name="password2" class="form-control" value="<%= typeof password2 != 'undefined' ? password2 : '' %>"/>
                        </div>
                        <button type="submit" class="btn"> Register </button>
                    </form>
                    <p class="lead mt-4"> Have an account? <a href="/"> Login </a> </p>
                </div>
            </div>
        </div>
   </body>
   <% include partials/footer %>
</html>