<!doctype html>
<html lang="en">
   <head>
      <title> Inspire Registration </title>
      <% include partials/head %>
   </head>
   <body>
    <% include partials/nav %>
        <div class="row mt-4">
            <div class="col-md-4 m-auto">
                <div class="card card-body">
                    <form action="/users/register" method="post" autocomplete="off">
                        <h2> Create account </h2>
                        <p> Get access to thousands of quotes. <br> Pin your favorite ones. <i class="fa fa-star"></i> </p>
                        <% include partials/messages %>
                        <div class="form-group">
                            <input type="name" id="name" name="name" placeholder="Username" class="form-control" value="<%= typeof name != 'undefined' ? name : '' %>"/>
                        </div>
                        <div class="form-group">
                            <input type="email" id="email" name="email" placeholder="Email" class="form-control" value="<%= typeof email != 'undefined' ? email : '' %>"/>
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="password" placeholder="Password" class="form-control" placeholder="At least 6 characters" value="<%= typeof password != 'undefined' ? password : '' %>"/>
                        </div>
                        <div class="form-group">
                            <input type="password" id="repeatedPassword" name="repeatedPassword" placeholder="Confirm Password" class="form-control" value="<%= typeof repeatedPassword != 'undefined' ? repeatedPassword : '' %>"/>
                        </div>
                        <button type="submit" class="btn"> Create account </button>
                        <a class="btn" id="switch" href="/"> Sign-In </a>
                        <br><br>
                        <label><a href="/guest"> Continue as guest </a></label>
                    </form>
                </div>
            </div>
        </div>
   </body>
   <% include partials/footer %>
</html>