* {
  box-sizing: border-box
}

body {
  font-family: 'Roboto', 'Roboto Slab', 'Ubuntu', sans-serif;
  background-image: url("../../img/inspire.png");
  overflow-x: hidden
}

th {
  font-weight: 600 !important;
  text-align: center
}

a {
  color: #799bc7
}

#title-gen {
  margin-top: 2rem
}

#title-pin {
  margin-top: 2rem
}

#title-vis {
  margin-top: 2rem
}

#tbody {
  text-align: center
}

#alert {
  margin-top: 2rem
}

#switch {
  color: #fff;
  background-color: #808080 !important
}

.btn {
  color: #fff;
  background-color: #799bc7 !important
}

.alert-heading {
  font-size: 1.25rem;
  font-weight: 400
}

.container {
  background-color: #fff;
  margin: 5%;
  padding: 2%
}

.p-2 {
  color: #000;
  font-weight: 400
}